@model CSC348Blog.Models.UserViewModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "EditUser";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/postlist/main.css" />
    <link rel="stylesheet" href="~/css/postlist/responsive.css" />
</head>

<h2>Edit User</h2>
<hr />
<body onload="Reset();">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="EditUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserName" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="single-input" placeholder="Email"
                       onfocus="this.placeholder=''" onblur="this.placeholder='Email'" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <label asp-for="EmailConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="@Model.EmailConfirmed" />
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="single-input" placeholder="Phone Number"
                       onfocus="this.placeholder=''" onblur="this.placeholder='Phone Number'" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <label asp-for="PhoneNumberConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="@Model.PhoneNumberConfirmed" />
                <div class="form-group">
                    <input type="submit" value="Save" name="save" class="primary-btn submit_btn" />
                </div>
                <div>
                    <h5>Roles</h5>
                    <dl class="dl-horizontal">
                        @{bool inRole = false; }
                        @foreach (var role in Model.AllRoles)
                        {
                            <dt>
                                @role.Name
                            </dt>
                            foreach (var userRole in Model.UserRoles)
                            {
                                if (role.Equals(userRole))
                                {
                                    inRole = true;
                                    <dd>
                                        @Html.DisplayFor(model => inRole)
                                    </dd>
                                    break;
                                }
                            }
                            if (!inRole)
                            {
                                <dd>
                                    @Html.DisplayFor(model => inRole)
                                </dd>
                            }
                            inRole = false;
                        }
                    </dl>
                </div>
                @if (!Model.UserName.Equals("Member1@email.com"))
                {
                    <h4>User Permission</h4>
                    <hr />
                    <div class="row">
                        <div class="single-element-widget"><div class="default-select">
                                @Html.DropDownListFor(m => m.Role, Model.AllRolesText, new { @id = "Role" })
                            </div>
                            
                        </div>
                        


                        <div id="Custom">
                            <table class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>New Premission</th>
                                        <th>Current Premission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <dl class="dl-horizontal">
                                                <dt>Create Post</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanCreatePost" />
                                                </dd>
                                                <dt>Edit Post</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanEditPost" />
                                                </dd>
                                                <dt>Delete Post</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanDeletePost" />
                                                </dd>
                                                <dt>View Post</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanViewPost" />
                                                </dd>
                                                <dt>View Post List</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanViewPostList" />
                                                </dd>
                                                <dt>Create Comment</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanCreateComment" />
                                                </dd>
                                                <dt>Edit Comment</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanEditComment" />
                                                </dd>
                                                <dt>Delete Comment</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanDeleteComment" />
                                                </dd>
                                                <dt>View Comment</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanViewComment" />
                                                </dd>
                                                <dt>Like</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanLike" />
                                                </dd>
                                                <dt>Dislike</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanDislike" />
                                                </dd>
                                                <dt>Permission Panel</dt>
                                                <dd>
                                                    <input type="checkbox" asp-for="@Model.CanPermissionPanel" />
                                                </dd>
                                            </dl>
                                        </td>
                                        <td>
                                            <dl class="dl-horizontal">
                                                @{ bool inClaim = false;}
                                                @foreach (var claim in Model.AllClaims)
                                                {
                                                    <dt>
                                                        @claim.Type
                                                    </dt>
                                                    foreach (var userClaim in Model.UserClaims)
                                                    {
                                                        if (claim.Type.Equals(userClaim.Type))
                                                        {
                                                            inClaim = true;
                                                            <dd>
                                                                @Html.DisplayFor(model => inClaim)
                                                            </dd>
                                                            break;
                                                        }
                                                    }
                                                    if (!inClaim)
                                                    {
                                                        <dd>
                                                            @Html.DisplayFor(model => inClaim)
                                                        </dd>
                                                    }
                                                    inClaim = false;
                                                }
                                            </dl>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="Roles">
                            <div class="form-group">
                                <input type="submit" value="Add Role to User" name="add" class="primary-btn submit_btn" />
                                <input type="submit" value="Remove Role from User" name="remove" class="primary-btn submit_btn" />
                            </div>
                            <table class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        @foreach (var claim in Model.AllClaims)
                                        {
                                            <th>
                                                @claim.Type
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ bool inRoleClaim = false; }
                                    @foreach (var role in Model.AllRoles)
                                    {
                                        <tr>
                                            <td>
                                                @role.Name
                                            </td>
                                            @foreach (var claim in Model.AllClaims)
                                            {
                                                foreach (var roleClaim in Model.RoleClaims)
                                                {
                                                    if (role.Name.Equals(roleClaim.ElementAt(0)) && claim.Type.Equals(roleClaim.ElementAt(1)))
                                                    {
                                                        inRoleClaim = true;
                                                        <td>
                                                            @Html.DisplayFor(model => inRoleClaim)
                                                        </td>
                                                        break;
                                                    }
                                                }
                                                if (!inRoleClaim)
                                                {
                                                    <td>
                                                        @Html.DisplayFor(model => inRoleClaim)
                                                    </td>
                                                }
                                                inRoleClaim = false;
                                            }
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>


                    </div>

                    }
</form>
        </div>
    </div>
</body>





<div>
    <a asp-action="UserList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Custom').hide();
            $('#Roles').hide();
            $('#Role').change(function () {
                var value = $(this).val();
                if (value == '---Select---') {
                    $('#Custom').hide();
                    $('#Roles').hide();
                } else if (value == 'Custom') {
                    $('#Custom').show();
                    $('#Roles').hide();
                } else {
                    $('#Custom').hide();
                    $('#Roles').show();
                }
            });
        });

        function Reset() {
            var dropDown = document.getElementById("Role");
            dropDown.selectedIndex = 0;
        }
    </script>
}
