@model IEnumerable<CSC348Blog.Models.Post>

@{
    ViewData["Title"] = "PostList";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/postlist/main.css" />
    <link rel="stylesheet" href="~/css/postlist/responsive.css" />
</head>


<body>
    @foreach(var item in Model)
    {
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="blog_left_sidebar">
                            <article class="blog_style1">
                                <div class="blog_img">
                                    <img class="img-fluid" src="~/images/default.png" alt="" style="max-width:100% ; height:auto">
                                </div>
                                <div class="blog_text">
                                    <div class="blog_text_inner">
                                        <a asp-action="Post" asp-route-id="@item.PostID"><h4>@item.Title</h4></a>
                                        <p>@item.Content</p>
                                        <div class="date">
                                            <a asp-action="Post" asp-route-id="@item.PostID"><i class="fa fa-calendar" aria-hidden="true"></i> @item.CreationDate</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>